/* .width {
  width: 100px;
} */
.gap {
  margin: 5px;
}
.zIndex {
  position: relative;
  z-index: -1;
}
.modals {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 25%;
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  padding: 25px;
}
.imageWidth{
  height: 100px;
  padding: 0;
}
.fs{
  font-size: 12px;

}
.detail{
  bottom: 10%;
}

