<div class="container-lg container-fluid p-0 ">
        <ul class="list-unstyled bg-white d-inline-block rounded-1">
                <li class="d-flex justify-content-around p-3 border-dark border-2 border"
                        (change)="handleEvoucherChange($event)">e-voucher <input type="checkbox" name="" id=""></li>
                <li class="d-flex justify-content-around p-3 border-dark border-2 border"
                        (change)="handleProductChange($event)">products <input type="checkbox" name="" id=""></li>
                <li class="d-flex justify-content-around p-3 border-dark border-2 border"
                        (change)="handleEvergereenChange($event)">evergreen <input type="checkbox" name="" id=""></li>
                <li class="d-flex justify-content-around p-3 border-dark border-2 border">fashion & retail <input
                                type="checkbox" name="" id="" (change)="handleFashionChange($event)"></li>
        </ul>
</div>