<div class="container-fluid bg-white rounded-3 w-100">
  <p class="fw-bold">Category:</p>
        <ul class="list-unstyled d-grid justify-content-around rounded-1" (click)="handleCategory($event)">
                <li class="d-flex justify-content-around p-3 border-light-subtle m-1 w-100 border-1 border rounded-3"
                        >e-voucher <input  type="checkbox" name="eVoucher" id=""></li>
                <li class="d-flex justify-content-around p-3 border-light-subtle m-1 w-100 border-1 border rounded-3"
                        >products <input  type="checkbox" name="products" id=""></li>
                <li class="d-flex justify-content-around p-3 border-light-subtle m-1 w-100 border-1 border rounded-3"
                        >evergreen <input  type="checkbox" name="evergreen" id=""></li>
                <li class="d-flex justify-content-around p-3 border-light-subtle m-1 w-100 border-1 border rounded-3">fashion & retail <input
                               type="checkbox" name="fashion" id="" ></li>
        </ul>
</div>
