.logo {
  width: 50px;
  border-radius: 23px;
}
.icon {
  width: 30px;
  border-radius: 23px;
}
.button {
  cursor: pointer;
}
.footer{
  position: relative;
  bottom: 0;
  margin-top: 15%;
}
