<app-header></app-header>
<app-search class="my-3 suggestion"></app-search>

<div class="d-flex gap-2 container-lg container-fluid px-lg-5 my-3 belowSuggestion">
  <span class="fw-bold">Applied Filter:</span>
  <span class="border border-dark border-1 rounded-1" *ngFor="let cetegory of category.categories; let i=index">{{cetegory.categoryName}}<button
    class="border-0 button" (click)="removeCategory(i)">x</button></span>
</div>

<div class="container-lg container-fluid d-grid">
  <div class="row ">
    <div class="col-sm-2 col-12 d-flex justify-content-center">
      <app-category></app-category>
    </div>
    <div class="col-sm-10 col-12">
      <app-items></app-items>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
<app-footer></app-footer>
